form{
    position: relative;
    top:100px;
    background-color:  blue;
    color: white;
    width: 600px;
    padding: 30px;
    border: 2px solid red;
    left: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 50px black;
    

}
.h{
    position: relative;
    top: 200px;
}

.div{
    padding: 20px;

}


.butn{
    margin: 10px;
    background-color: red;
    color: white;
    padding: 5px;
}